$lightgrey: #f7f7f7;
$grey: #94a2b7;
$black: #1b1d31;
$blue: #4285f4;
$darkblue: #285db3;
$green: #42b064;
$text-color:#6b6c76;
$heading-color: #343546;
$small-text: 12px;
$medium-text: 16px;
$large-text: 18px;
$main-font: "Martel Sans", sans-serif;
